
<h1>Partie 1 : DataBinding (MVVM)</h1>
<small>Les attributs sont dans app.component.ts</small>
<h2>Texte "title"</h2>
<p>
	Bonjour, {{ title }} (one-way)
</p>
<label>Saisie (two-ways) :</label>
<input [(ngModel)]="title" />
<hr />

<p>(one-way) Action (évènement clique)</p>
<button (click)="changeTitle()">Changer le titre</button>
<hr />

<h2>Couleur</h2>
<p [style.color]="couleur">Un texte haut en couleurs, (one-way)</p>
<div>
<label>Avec une liste déroulante (two-ways) :</label>
<select [(ngModel)]="couleur">
	<option value="black">Noir</option>
	<option value="#ff0000">Hexa rouge</option>
	<option value="pink">Rose</option>
</select>
</div>

<div>
<label>Ou bien avec un colorpicker HTML5 (two-ways)  :</label>
<input type="color" [(ngModel)]="couleur" />
</div>
<hr />


<h1>Liste des produits</h1>

<table>
	<thead>
		<tr>
			<th>Nom</th>
			<th>Prix</th>
			<th>Infos</th>
		</tr>
	</thead>

	<tbody>
		<tr *ngFor="let produit of produits">
			<td>{{ produit.nom }}</td>
			<td>{{ produit.prix }}</td>
			<td>
				<span *ngIf="produit.prix < 0">Négatif</span>
				<span *ngIf="produit.prix == 0">Neutre</span>
				<span *ngIf="produit.prix > 0">Positif</span>
			</td>
		</tr>
	</tbody>
</table>


<hr />

<div>
	<label>Nom</label>
	<input type="text" [(ngModel)]="produitForm.nom" />
</div>

<div>
	<label>Prix</label>
	<input type="number" [(ngModel)]="produitForm.prix" />
</div>

<button (click)="addProduit()">Ajouter</button>


<p>
	Avec du texte
	<span ipssi-tooltip="Information à afficher ...">dedans</span>
</p>